
<div class="ui fixed inverted menu">
    <a routerLink="/main" class="item">
        Home
    </a>
    <a routerLink="/user-profile" class="ui active item">
        Your Collections
    </a>
    <a routerLink="/dashboard" class="item">
        Browse Images
    </a>
    <a routerLink="/browse-collections" class="item">
        Browse Collections
    </a>
    <div class="right menu">
        <a routerLink="/login" class="ui item">
            Login
        </a>
    </div>
</div>


    <div class = "parallax">
        <div class="ptext">
            Your Collections<br /><br />
            <a class="ptext3" routerLink="/add-collection">Or, would you like to create a new collection?</a>
            <br /><br />
        </div>
        <div id="photoGrid" class = "ui divided grid" >
            <div class="four wide column" *ngFor="let collection of collections; let i = index" ><div class="ui bordered image">
                <div class="ptext2">
                    <a *ngIf="collection.public" class = "ptext3" data-tooltip="Public Collection" href="" style="color: white;"><i class="users icon"></i></a>
                    <a *ngIf="!collection.public" class = "ptext3" data-tooltip="Private Collection" href="" style="color: white;"><i class="unhide icon"></i></a>
                    {{collection.name}} &nbsp;&nbsp;   {{collection.sumOfRatings/collection.numberOfRatings || collection.sumOfRatings}} <i class="star icon"></i>

                </div>

                <img class="ui bordered image" src="{{collection.photos[0]}}" style="font-family: 'Gruppo', cursive;font-size:16px;letter-spacing:0px;text-transform:none;" alt="[This collection has no photos!]">
                <div class="ptext4">

                    <a (click)="deleteCollection(collection._id)" routerLink="/user-profile" data-tooltip="Delete Collection" style="color: white;"><i class="trash outline icon"></i></a>
                    <a href="" (click)="editCollection(collection._id)" data-tooltip="Edit Collection" routerLink="/edit-collection" style="color: white;"><i class="edit icon"></i></a>
                    <a href="" (click)=viewCollection(collection._id) routerLink="/view-collection" data-tooltip="View Collection" style="color: white;"><i class="external icon"></i></a>
                    <a href="" routerLink="/dashboard" data-tooltip="Add To Collection" style="color: white;"><i class="plus square outline icon"></i></a>
                </div>

            </div></div>
        </div>
    </div>
