
<div class="ui fixed inverted menu">
    <a routerLink="/main" class="ui active item">
        Home
    </a>
    <a routerLink="/user-profile" class="item">
        Your Collections
    </a>
    <a routerLink="/dashboard" class="item">
        Browse Images
    </a>
    <a routerLink="/browse-collections" class="item">
        Browse Collections
    </a>
    <div class="right menu">
        <a routerLink="/login" class="ui item">
            Login
        </a>
    </div>
</div>
<!-- <br /><br /><br /><br /><br /><br /> -->

<div class = "parallax">
    <div class="ptext">
        NASA Photo Sharing Application
    </div>
    <div class="ptext2">
        <br /><br /><br /><br />
        ABOUT.
        <div class="ptext3">
            This application grabs images from the NASA image API and displays them to the user. <br />
            You as a user, can browse these images and save them to collections you can share with <br />
            your friends. You can also view collections other people have created and rate them.
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <button routerLink="/new-account" class="ui blue button">Create New Account</button>
        <button routerLink="/login" routerLinkActive="active" class="ui purple button">Login</button><br /><br /><br /><br /><br /><br />

    </div>

</div>
