
    <div class="ui fixed inverted menu">
        <a routerLink="/main" class="item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a routerLink="/dashboard" class="active item">
            Dashboard
        </a>
        <div class="right menu">
            <a routerLink="/login" class="ui item">
                Login
            </a>
        </div>
    </div>


    <div class = "parallax">
        <div class="ptext">
            Your Dashboard<br /><br /><br /><br />
            <div class="ui input focus" style="font-size: 16px;width: 30%;">
                <input #searchQuery type="text" placeholder="Search...">
            </div>
            <button (click)="getData(searchQuery.value);" class="ui button">get images</button>
        </div>
        <div id="photoGrid" class = "ui divided grid" >
            <div class="four wide column" *ngFor="let image of images" ><div class="ui bordered image">
                <img class="ui bordered image" src="{{image}}"><br />
                <a href="askdj" style="color: white;"><i href="" class="add square icon"></i></a>
                <a href="{{image}}" style="color: white;"><i class="external icon"></i></a>
            </div></div>
            <!-- <div class="four wide column"><a href="" class="ui fluid image">
                <img src="{{image}}">
            </a></div> -->

        </div>
    </div>
