
<div class="ui fixed inverted menu">
    <!-- <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a> -->
    <a routerLink="/main" class="item">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
    <div class="right menu">
        <a routerLink="/login" class="active item">
            Login
        </a>
    </div>
</div>
<div class = "parallax">
    <div class="ptext">
        LOGIN
    </div>
    <div class="loginform">
        <br /><br /><br /><br /><br />
        <form class="ui inverted large form">

            <div class="ui inverted stacked segment">
                <br />
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div (click)="getUsers();" class="ui large teal submit button">Authenticate</div><br /><br />
                New to us? <a href="https://semantic-ui.com/examples/login.html#">create a new account</a>
                <div style="color: red;" id="errmsg"></div>
                <div style="color: green;" id="successmsg"></div>
            </div>
        </form>
    </div>
</div>
