
<div class="ui fixed inverted menu">
    <a routerLink="/main" class="item">
        Home
    </a>
    <a routerLink="/user-profile" class="item">
        Your Collections
    </a>
    <a routerLink="/dashboard" class="item">
        Browse Images
    </a>
    <a routerLink="/browse-collections" class="item">
        Browse Collections
    </a>
    <div class="right menu">
        <a routerLink="/login" class="ui active item">
            Login
        </a>
    </div>
</div>
<div class = "parallax">
    <div class="ptext">
        LOGIN
    </div>
    <div class="loginform" >
        <br /><br /><br /><br /><br />
        <form class="ui inverted large form">
            <div class="ui inverted stacked segment">
                <br />
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input #username type="text" name="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input #password type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div (click)="authenticate(username.value, password.value);" class="ui large teal submit button">Authenticate</div><br /><br />
                New to us? <a href="https://semantic-ui.com/examples/login.html#">create a new account</a>
                <div [hidden]="!ngErrorMsg" style="color: red;">{{ngErrorMsg}}</div>
                <div [hidden]="!ngSuccessMsg" style="color: green;">{{ngSuccessMsg}}</div>
            </div>
        </form>
    </div>
</div>
