
<div class="ui fixed inverted menu">
    <a class="active item">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
    <div class="right menu">
        <a class="ui item">
            Login
        </a>
    </div>
</div>
<!-- <br /><br /><br /><br /><br /><br /> -->

<div class = "parallax">
    <div class="ptext">
        NASA Photo Sharing Application
    </div>
    <div class="ptext2">
        <br /><br /><br /><br /><br /><br />
        create. push. inspire.
        <br /><br /><br />
        <button class="ui blue button">Create New Account</button>
        <button class="ui purple button">Login</button>
    </div>

</div>
