<!-- NAVBAR -->
<div class="ui fixed inverted menu">
    <a routerLink="/main" class="item">
        Home
    </a>
    <a routerLink="/user-profile" class="item">
        Your Collections
    </a>
    <a routerLink="/dashboard" class="item">
        Browse Images
    </a>
    <a routerLink="/browse-collections" class="item">
        Browse Collections
    </a>
    <div class="right menu">
        <a routerLink="/login" class="ui item">
            Logout
        </a>
    </div>
</div>
<!-- PARALLAX DIV FOR BACKGROUND -->
<div class = "parallax">
    <div class="ptext">
        <!-- TITLE -->
        Add Image<br /><br /><br /><br />
        <!-- IMAGE -->
        <img  class="ui large image" src={{imageURL}} style="background-color: #000000;"><br />
        <!-- DROPDOWN FOR COLLECTION SELECTION -->
        <select class="ui dropdown" #selectedCollection>
            <select value="">Choose a Collection</select>
            <option *ngFor="let collection of collections" [value]="collection.name" (change)="print(collection)"><p >{{collection.name}}</p></option>
        </select><br />
        <!-- SUBMIT BUTTON TO CREATE A NEW COLLECTION -->
        <div id="button" (click)="print(selectedCollection.value)" routerLink="/user-profile" class="ui large teal submit button">Add to Collection!</div><br /><br />
        <!-- REDIRECT TO CREATING A NEW COLLECTION -->
        <a class="ptext2" routerLink="/add-collection">Or, would you like to create a new collection?</a>
    </div>
</div>
