.parallax {
    background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(100,100,100,0.3)),url("../../assets/images/background-image.jpg");
    background-attachment: fixed;
    height: 100%;
    width:100%;
    text-align: center;
    vertical-align: text-bottom;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-family: 'Gruppo', cursive;
    position:absolute;
    opacity: 1 !important;
    top:15%;
    width:100%;
    text-align:center;
    color:#FFFFFF;
    font-size:70px;
    letter-spacing:8px;
}
.body-text{
    font-family: 'Gruppo', cursive;
    position:absolute;
    opacity: 1 !important;
    top:80%;
    width:100%;
    text-align:center;
    color:#ffffff;
    font-size:15px;
    letter-spacing:1px;
    text-transform:uppercase;
}
